<!DOCTYPE html>
<html>
	<head>

		<title>ng-bootstrap-daterangepicker</title>

		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">

	</head>
	<body>

		<br />

		<div ng-app="demo" ng-controller="SampleCtrl" class="container">
			<h2>Attribute Examples</h2>

			<div class="well">
                <p>dates1 = <code>{{dates1|json}}</code></p>
				<pre>&lt;input lfz-bootstrap-daterangepicker type="text" ng-model="dates1"&gt;</pre>
				<input lfz-bootstrap-daterangepicker type="text" ng-model="dates1">
			</div>
			<div class="well">
                <p>dates2 = <code>{{dates2|json}}</code></p>
				<pre>&lt;input lfz-bootstrap-daterangepicker type="text" ng-model="dates2" format="MMM DD" separator="/"&gt;</pre>
				<input lfz-bootstrap-daterangepicker type="text" ng-model="dates2" format="MMM DD" separator="/">
			</div>
			<div class="well">
                <p>dates3 = <code>{{dates3|json}}</code></p>
				<pre>&lt;input lfz-bootstrap-daterangepicker type="text" ng-model="dates3" separator="/" min-date="2013-09-10" max-date="2013-09-20" limit="1 day"&gt;</pre>
				<input lfz-bootstrap-daterangepicker type="text" ng-model="dates3" separator="/" min-date="2013-09-10" max-date="2013-09-20" limit="1 day">
			</div>
			<div class="well">
                <p>dates4 = <code>{{dates4|json}}</code></p>
				<pre>&lt;input lfz-bootstrap-daterangepicker type="text" ng-model="dates4" ranges="ranges"&gt;</pre>
				<input lfz-bootstrap-daterangepicker type="text" ng-model="dates4" ranges="ranges">
			</div>

			<h2>Element Example</h2>
			<div class="well">
                <p>dates5 = <code>{{dates5|json}}</code></p>
				<pre>
&lt;lfz-bootstrap-daterangepicker type="text" ng-model="dates1"&gt;
    <span>{{ </span>dates5.startDate.format()|date : 'short' }} to <span>{{ </span> dates5.endDate.format()|date : 'short' }}
&lt;/lfz-bootstrap-daterangepicker&gt;
                </pre>
				<lfz-bootstrap-daterangepicker type="text" ng-model="dates5">
                    {{dates5.startDate.format()|date : 'short' }} to {{ dates5.endDate.format()|date : 'short' }}
				</lfz-bootstrap-daterangepicker>
			</div>

			<h2>Button Example</h2>
			<div class="well">
                <p>dates6 = <code>{{dates6|json}}</code></p>
				<pre>
&lt;lfz-bootstrap-daterangepicker type="text" ng-model="dates1"&gt;
    <span>{{ </span>dates6.startDate.format()|date : 'short' }} to <span>{{ </span> dates6.endDate.format()|date : 'short' }}
&lt;/lfz-bootstrap-daterangepicker&gt; <span>{{</span>dates6|json}}
                </pre>
				<button class="btn btn-primary" type="text" lfz-bootstrap-daterangepicker ng-model="dates1">
					{{ dates6.startDate.format()|date : 'short' }} to {{ dates6.endDate.format()|date : 'short' }}
				</button>
			</div>
		</div>

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../bower_components/momentjs/moment.js"></script>
		<script src="../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script src="../bower_components/angular/angular.js"></script>

		<script src="../src/lfz-bootstrap-daterangepicker.js"></script>

		<script>
			angular
				.module('demo', ['lfzBootstrapDaterangepicker'])
				.controller('SampleCtrl', function($scope, $filter) {
						$scope.dates2 = { startDate: moment('2013-09-20'), endDate: moment('2013-09-25') };
						$scope.dates3 = { startDate: moment(), endDate: moment().add(1, 'day') };
						$scope.dates4 = { startDate: moment().subtract(1, 'day'), endDate: moment().subtract(1, 'day') };
						$scope.ranges = {
							'Today': [moment(), moment()],
							'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
							'Last 7 days': [moment().subtract('days', 7), moment()],
							'Last 30 days': [moment().subtract('days', 30), moment()],
							'This month': [moment().startOf('month'), moment().endOf('month')]
						};
						$scope.dates5 = { startDate: moment('2013-09-20'), endDate: moment('2013-09-25') };
						$scope.dates6 = { startDate: moment('2013-09-20'), endDate: moment('2013-09-25') };
					});
		</script>

	</body>
</html>